svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: grey;
  border-style: solid;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  /* stroke-dasharray: 10,2; * was dashed line, I replaced it with solid orange line*/
  stroke: orange;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: auto;  /*was "none". See https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events for info */
}

text.id {
  text-anchor: middle;
  font-weight: bold;
  cursor: pointer;
  color: green; /* not works */
}
text.other {
  text-anchor: middle;
  font-weight: normal;
  cursor: pointer;
  color: green; /* not works */
}
text.slabel {
  text-anchor: right;
  font-weight: normal;
  cursor: pointer;
  color: red; /* not works */
}